body {
    margin: 0;
    padding: 0;
    background: white;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* 柔和下落动画 */
@keyframes drop {
    0% {
        transform: translateY(-250px); /* 從更上面掉下來 */
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* 字母摆动动画 */
@keyframes float {
    0% { transform: translateY(0px); }
    100% { transform: translateY(6px); }
}

.letter {
    margin-top: 6px;
}
